<div id="<%= dom_id quiz %>" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= quiz.title %></h5>

    <p class="card-text">
      <strong>Is survey:</strong>
      <%= quiz.is_survey %>
    </p>

    <p class="card-text">
      <strong>Description:</strong>
      <%= quiz.desc %>
    </p>

    <% unless quiz.is_survey %>
    <p>Total Points: <%= quiz.quiz_questions.sum(:points) %></p>
    <% end %>


    <h4>Questions:</h4>
        <ul>
          <% quiz.quiz_questions.each do |quiz_question| %>
            <li><%= truncate(quiz_question.question.desc, length: 75) %></li>
          <% end %>
        </ul>
  </div>
</div>
