<div id="<%= dom_id quiz %>" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= quiz.title %></h5>

    

    <p class="card-text">
      <strong>Description:</strong>
      <%= quiz.desc %>
    </p>

    <% if quiz.is_survey %>
      <strong class="text-success">Survey</strong>
    <% else %>
      <strong class="text-danger">Total Points:</strong> <p><%= quiz.quiz_questions.sum(:points) %></p>
    <% end %>


    <h4>Questions:</h4>
        <ul class="custom-list-style">
          <% quiz.quiz_questions.each do |quiz_question| %>
            <li data-id="<%= quiz_question.question.id %>"><%= truncate(quiz_question.question.desc, length: 75) %></li>
          <% end %>
        </ul>
  </div>
</div>