<p style="color: green"><%= notice %></p>

<%= render @quiz %>

<div>
  <%= link_to "Edit", edit_quiz_path(@quiz) %> |
  <%= link_to "Quizzes", quizzes_path %>

  <%= button_to "Delete", @quiz, method: :delete %>
</div>
