<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Quiz'em</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyVnXmzH/6zI1qYjOMVZ2KkX6D5NAKVI9R" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

  <!-- Link to the Bootstrap icon as the favicon -->
  <%= favicon_link_tag 'pen.svg' %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-secondary bg-secondary border-bottom">
    <a class="navbar-brand custom-brand text-light" href="#">
      Quiz'em <i class="bi bi-pen"></i>
    </a>

    <!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Quizzes", quizzes_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "Questions", questions_path, class: "nav-link text-white" %>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Main content -->
  <%= yield %>

  <!-- Footer -->
  <footer class="bg-dark text-white text-center py-3">
    © 2023 Tanner Cooper & Cooper Farnsworth
  </footer>

  <!-- Bootstrap JS and Popper.js (if needed) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-BQBEQh2hxFWACVSgGSJ7nAGuV2zDIUp0CaPwl1bUxP1fuEGaFdNz86bdP3RS6T8B" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyVnXmzH/6zI1qYjOMVZ2KkX6D5NAKVI9R" crossorigin="anonymous"></script>
</body>
</html>
